#cta {

	.col-md-3 {
		min-width: 280px;
	}

	p {
		color: #fff;
		font-size: 1.5rem;
	}

	&.bg-light {
		background-color: #fff;
	}

	&.bg-brand {
		background-color: $brand-color;
	}

	.btn-cta {
		color: $brand-color;
		background-color: #fff;
		border: 2px solid #fff;

		&:hover {
			color: #fff;
			background-color: $brand-color;
		}

	}

}
