/*== CUSTOM STYLES ==*/

/* Global Styles */

h2 {
  text-align: center;
  max-width: 832px;
  margin: 2rem auto;
}

h2:after {
  content: "";
  display: block;
  border-bottom: 2px solid $brand-color;
  width: 30%;
  margin: 1rem auto;
}

/* Homepage Styles */

#intro {

  h1, p {
    color: #fff;
    background: none;
  }

  #intro-image {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://res.cloudinary.com/zheisey/image/upload/f_auto/v1570826236/teambusiness/homepage-hero-bg.jpg');
    background-size: cover;
    width: 101%;
    height: 100%;
  }

}

.featured-client {
  display: inline-block;
  margin: 0 1rem;
}

/* Page Styles */

.header-image.page {
  height: 75vh;
  background-blend-mode: overlay;
}

.page-intro {
  top: 20%;
  width: 75%;
  max-width: 900px;
  margin: auto;
  left: 0;
  right: 0;
  color: #fff;

  &.hero {
    top: 30%;
  }

}

.no-image {
  width: 75%;
  max-width: 900px;
  margin: 150px auto -10px;
}

#section-title {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 100;
}

#intro-1 {
  font-size: 2.25rem;
}

#intro-2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: none;
}

hr.divider {
  border-top: 3px solid $brand-color;
  margin: 2rem 0;
}

/*== MEDIA QUERIES ==*/

// 800px
@include media-query($on-laptop) {

  .header-image.page {
    margin-top: 91px;
  }

  .page-intro, .no-image {
    width: 85%;
  }

  #section-title {
    font-size: 1rem;
  }

  #intro-1 {
    font-size: 1.5rem;
  }

  #intro-2 {
    font-size: 1rem;
  }

}

// 600px
@include media-query($on-palm) {

  .owl-carousel.carousel-1 .item {
    height: 75vh;
  }

}
