<section id="clients" class="bg-white">
	<div class="container" style="text-align: center;">
		<div class="client-logo-wrapper">
		{% for client in site.clients %}
		<!-- Show featured clients on homepage -->
		{% if page.url == '/' %}
			{% if client.featured == true %}
			<div class="client-logo-item" style="background-image: url({{ client.logo }});"></div>
			{% endif %}
		<!-- Show all clients on about page, etc. -->
		{% else %}
		<div class="client-logo-item" style="background-image: url({{ client.logo }});"></div>
		{% endif %}
		{% endfor%}
		</div>
	</div>
</section>
