<section id="client-stories">

	<nav class="anchors">
		<p>Verticals We Serve:
			{% for vertical in page.verticals %}
				<a href="#{{ vertical.title | slugify }}">{{ vertical.title }}</a> |
			{% endfor %}
		</p>
	</nav>

	<div class="container">

    {% for vertical in page.verticals %}
    <h3 id="{{ vertical.title | slugify }}">{{ vertical.title }}</h3>
    <p>{{ vertical.description }}</p>

		<div class="owl-carousel owl-theme carousel-2 position-relative rev">
      {% for story in vertical.client-stories %}
  		<div class="stories">
  			<div class="story-box">
  				<div class="row">
  					<div class="col-md-12">
  						<blockquote>{{ story.story }}</blockquote>
              {% if story.byline-1 and story.byline-1 != '' %}
              <small>{{ story.byline-1 }}</small>
              {% endif %}
              {% if story.byline-2 and story.byline-2 != '' %}
              <br><small>{{ story.byline-2 }}</small>
              {% endif %}
  					</div>
  				</div>
  			</div>
  		</div>
      {% endfor %}
		</div>
    {% endfor %}

	</div>

</section>

<!-- OLD VERSION OF CLIENT STORIES -->

<!-- {% for vertical in page.verticals %}

  <h3>{{ vertical.title }}</h3>
  <p>{{ vertical.description }}</p>

  {% for story in vertical.client-stories %}
  <div class="client-stories">

    {% if story.byline-1 and story.byline-1 != '' %}
    <h4>{{ story.byline-1 }}</h4>
    {% endif %}

    {% if story.byline-2 and story.byline-2 != '' %}
    <h4>{{ story.byline-2 }}</h4>
    {% endif %}

    <p>{{ story.story }}</p>

    <hr>

  </div>
  {% endfor %}

{% endfor %} -->
