<section id="clients" class="bg-white">
	{% if page.url == '/' %}
	<!-- Show featured clients on homepage -->
	<div class="container" style="text-align: center;">
		<div class="client-logo-wrapper">
		{% for client in site.clients %}
			{% if client.featured == true %}
			<div class="client-logo-item" style="background-image: url({{ client.logo }});"></div>
			{% endif %}
		{% endfor %}
		</div>
		<!-- View Additional Clients -->
		<a href="/about#clients" class="btn btn-default" style="margin:10px;">View Additional Clients</a>
	</div>
	{% else %}
	<!-- Show all clients on about page, etc. -->
	<div class="container" style="text-align: center;">
		<div class="client-logo-wrapper">
			{% for client in site.clients %}
			<div class="client-logo-item" style="background-image: url({{ client.logo }});"></div>
			{% endfor%}
		</div>
	</div>
	{% endif %}
</section>
