<!-- Contact Form (Netlify) -->
<form name="Website Contact Form" action="/contact/thank-you/" method="post" data-netlify="true" data-netlify-recaptcha="true">

  <!-- Honeypot Field -->
  <p class="hidden">
    <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
  </p>

  <div class="form-row">
    <!-- First Name-->
    <div class="form-group col-md-6">
      <label class="sr-only" for="first-name">First Name</label>
      <input class="form-control" type="text" name="First Name" id="first-name" placeholder="First Name" required>
    </div>
    <!-- Last Name-->
    <div class="form-group col-md-6">
      <label class="sr-only" for="last-name">Last Name</label>
      <input class="form-control" type="text" name="Last Name" id="last-name" placeholder="Last Name" required>
    </div>
  </div>

  <div class="form-row">
    <!-- Email Address -->
    <div class="form-group col-md-6">
      <label class="sr-only" for="first-name">Email Address</label>
      <input class="form-control" type="email" name="Email" id="email" placeholder="Email Address" required>
    </div>
    <!-- Phone Number -->
    <div class="form-group col-md-6">
      <label class="sr-only" for="phone">Phone Number</label>
      <input class="form-control" type="text" name="Phone" id="phone" placeholder="Phone Number" required>
    </div>
  </div>

  <div class="form-row">
    <!-- Company / Organization -->
    <div class="form-group col-md-12">
      <label class="sr-only" for="organization">Company / Organization</label>
      <input class="form-control" type="text" name="Company / Organization" id="organization" placeholder="Company / Organization" required>
    </div>
  </div>

  <div class="form-row">
    <!-- Message -->
    <div class="form-group col-md-12">
      <label class="sr-only" for="message">Phone Number</label>
      <textarea class="form-control" name="Message" id="message" rows="8" placeholder="How can we help your business or organization?" required></textarea>
    </div>
  </div>

  <!-- reCAPTCHA 2 via Netlify -->
  <div data-netlify-recaptcha="true"></div>

  <!-- Submit Form -->
  <button class="btn btn-default" type="submit">Send Message</button>

</form>
