<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Prefetch DNS for faster page speed -->
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//google-analytics.com">
	<link rel="dns-prefetch" href="//www.google-analytics.com">
	<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">

	{% if page.url contains 'blog' %}
	<!-- Prefetch disqus DNS for faster page speed -->
	<link rel="dns-prefetch" href="https://{{site.disqus}}.disqus.com/">
	{% endif %}

	{% if page.url == '/' %}
	<!-- Prerender next pages for faster page speed -->
	<link rel="prerender" href="{{site.baseurl}}/contact/" />
	<link rel="prerender" href="{{site.baseurl}}/about/" />
	{% endif %}

	{% seo %}

	{% if page.layout != 'post' %}
	<meta property="og:image" content="{{ site.url }}{{ site.logo }}" />
	{% endif %}

	<!-- Custom CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:100,300,400">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

	<!-- Font Awesome Icons CSS -->
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<!-- Font Awesome Icons JS Kit -->
	<script src="https://kit.fontawesome.com/7714b246db.js" crossorigin="anonymous"></script>

	<!-- Google Analytics -->
	{% if site.analytics %}
		{% include analytics-lite.html %}
	{% endif %}

	<!-- Google reCAPTCHA -->
	{% if page.url == '/contact/' %}
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	{% endif %}


</head>
