<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Prefetch DNS for faster page speed -->
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//google-analytics.com">
	<link rel="dns-prefetch" href="//www.google-analytics.com">
	<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	{% if page.url contains 'blog' %}
	<!-- Prefetch disqus DNS for faster page speed -->
	<link rel="dns-prefetch" href="https://{{site.disqus}}.disqus.com/">
	{% endif %}

	{% if page.url == '/' %}
	<!-- Prerender next pages for faster page speed -->
	<link rel="prerender" href="{{site.baseurl}}/contact/" />
	<link rel="prerender" href="{{site.baseurl}}/about/" />
	<link rel="prerender" href="{{site.baseurl}}/blog/" />
	{% endif %}

	{% seo %}

	{% if page.layout != 'post' %}
	<meta property="og:image" content="{{ site.url }}{{ site.logo }}" />
	{% endif %}

	<!-- Custom CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:100,300,400">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">


	<!-- Font Awesome Icons CSS -->
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<!-- Font Awesome Icons JS Kit -->
	<script src="https://kit.fontawesome.com/7714b246db.js" crossorigin="anonymous"></script>

	{% if site.analytics %}

	<!-- Google Analytics code. <head> tag is the right place for analytics code as directed by Google. This is unofficial light version which loads blazing fast! Implemented for faster page load.  -->
	{% include analytics-lite.html %}

	{% endif %}

{% if site.enable-mathjax %}
		<script async
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
	</script>
{% endif %}

{% if site.enable-chartjs %}
	<script  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
{% endif %}

</head>
