<section id="intro">
	<div>
		<div class="owl-carousel owl-theme carousel-1">
			<div class="item position-relative">
				<div id="car-image"></div>
				<div class="position-absolute page-intro hero">
					<p id="intro-2" style="font-size: 2rem;">We Teach the Hard-Learned Lessons of Business Through Face-to-Face Experiences</p>
					<hr class="divider">
					<h1 id="intro-1">We Are Team Business</h1>
				</div>
			</div>

			<!-- <div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/men-2425121_1280.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Layout</p>
					<h1>Immersive Experience!</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/austin-distel-675050-unsplash.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Ease</p>
					<h1>Customize as you like!</h1>
				</div>
			</div> -->
		</div>
	</div>
</section>
