<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="/assets/images/logo.png" class="d-inline-block align-top logo" alt="{{site.title}}">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ml-auto">
				{% for item in site.data.nav %}
				<a class="nav-item nav-link {% if page.url == item.link %}active{% endif %}" href="{{item.link}}">{{item.title}}</a>
				{% endfor %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Workshops
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item nav-link" href="/programs/">Educational Workshops</a>
						<a class="dropdown-item nav-link" href="/corporate-programs/">Corporate Workshops</a>
					</div>
				</li>
			</div>
		</div>
	</div>
</nav>
