<section id="testimonial" class="">
	<div class="container">
		<div class="owl-carousel owl-theme carousel-2 position-relative rev">
		{% for client in site.clients %}
			{% if client.testimonial %}
			<div class="item">
				<div class="testimonial-box card">
					<div class="row">
						<div class="col-md-12">
							<blockquote>{{ client.testimonial }}</blockquote>
							<small>{{ client.name }} | {{ client.client }}</small>
							<img src="{{ client.logo }}" alt="{{ client.client }} logo">
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</section>
