---
layout: default
---

<!--
This layout is used for pages for example about.md, contact.ms etc...
Making any change will effect all the pages(not posts) -->
<main>
	{% if page.header-image %}
	<header class="position-relative text-center rev">
		<div class="header-image page" style="background-image: url({% if page.header-image contains 'cloudinary' %}{{ page.header-image }}{% else %}{{ site.baseurl }}{{ page.header-image }}{% endif %}), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6))" title="{{ page.title }} | Team Business" alt="{{ page.title }} featured image"></div>
		<div class="position-absolute page-intro">
			{% if page.section-title %}
			<p id="section-title">{{ page.section-title }}</p>
			{% endif %}
			<h1 id="intro-1">{{ page.intro-1 }}</h1>
			<hr class="divider">
			<p id="intro-2">{{ page.intro-2 }}</p>
		</div>
	</header>
	{% else %}
	<header class="position-relative text-center rev">
		<div class="no-image">
			{% if page.section-title %}
			<p id="section-title">{{ page.section-title }}</p>
			{% endif %}
			<h1 id="intro-1">{{ page.intro-1 }}</h1>
			<hr class="divider">
			<p id="intro-2">{{ page.intro-2 }}</p>
		</div>
	</header>
	{% endif %}
	<div class="page-container rev">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{% include breadcrumbs.html %}
				</div>
			</div>
		</div>


		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<article>
						{{content}}
					</article>

				</div>
			</div>
		</div>

	</div>
</main>

<!-- CTA -->
{% if page.title != 'Contact' %}
<hr>
{% include cta.html %}
{% endif %}
